# Copy this file to .env.local and fill in your values
# Get free database: https://neon.tech
# Get free redis: https://upstash.com
# [Supabase Storage](https://supabase.com) 

DATABASE_URL=postgresql://neondb_owner:npg_Ma7nB3OiyZKs@ep-fancy-cell-a19dllue-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=change-this-to-a-random-string
REDIS_URL=rediss://default:Ad0vAAIncDI2OTJjYmY0ODQxYTY0ZjEwODYzNDdlMGYyM2Q0ZDg3MXAyNTY2MjM@wired-jaybird-56623.upstash.io:6379

DB_SYNC=false

# Initialization Status
APP_INITIALIZED=true

SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=lvliqi_d@163.com
SMTP_PASS=QK3eRfvQRfqNJxcr
SMTP_FROM=lvliqi_d@163.com

STORAGE_PROVIDER=s3
S3_ENDPOINT=https://dhvlihncmnsmwuthzaxm.storage.supabase.co/storage/v1/s3
S3_REGION=ap-northeast-1
S3_BUCKET=test
S3_ACCESS_KEY_ID=510504592f20c4d37bc5912eabdac70b
S3_SECRET_ACCESS_KEY=9be90db28049c2305d1d13da1fbf6e28b10f7c08ba4d6f5016ed058eb953e793
S3_FORCE_PATH_STYLE=true

USE_ABAC_ONLY=true